
header{
    display: flex;
     
     align-items: center;
     justify-content:center;
     flex: 0.1;
     background-color: green; 
}

.newheader{
    display: flex;
     
     align-items: center;
     justify-content:center;
     flex: 0.1;
     background-color: #ffeb3b; 
}

.newfooter{
  display: flex;
      

     align-items: center;
     justify-content:center;
     flex: 0.1;
     background-color: #673ab7;
}

.newbody{
      display: flex;
      flex: 1;

}

.newlefter{
    display: flex;
    background-color: #FF9800;  
     align-items: center;
     flex: 0 0 12em;

}

.newmain{
    display: flex;
    background-color: yellow;  
    justify-content: center;

     align-items: center;
     flex:1;
}

.newrighter{
    display: flex;
    background-color: #4caf50;  
     align-items: center;
     justify-content:flex-end;
     flex: 0 0 12em;


}

.newmiddle{


     flex:1;
     display: flex;
     min-height: 30vh;


}

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.HolyGrail-body{
   display: flex;
    flex: 1;

}

.lefter{
    display: flex;
    background-color: red;  
     align-items: center;
     flex: 0 0 12em;

}


.righter{
    display: flex;
    background-color: blue;  
     align-items: center;
     justify-content:flex-end;
     flex: 0 0 12em;




}
.middle{


     flex:1;
     display: flex;
     min-height: 50vh;
    flex-direction: column;


}

.bugg{
  display: flex;
      

     align-items: center;
     justify-content:center;
     flex: 0.1;
     background-color: black;
}